<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up / Log In</title>
    <link th:href="@{/styles/styleSignup.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/javascript/Login.js}" defer></script>
</head>
<body>
<div class="wrapper">
    <div class="container">

        <div class="signup" onclick="window.location.href='/signup';">Sign Up</div>
        <div class="login" onclick="window.location.href='/login';">Log In</div>


        <form action="/login-process" method="post" class="needs-validation" novalidate>
            <div class="login-form">
                <input type="text" id="email" name="email" placeholder="Email" class="input" required><br />
                <input type="password" id="password" name="password" placeholder="Password" class="input" required><br />
                <button type="submit" class="btn">Log In</button>
                <span><a href="#">I forgot my username or password.</a></span>
            </div>
        </form>


    </div>
</div>

</body>
</html>