<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up / Log In</title>
    <link th:href="@{/styles/styleSignup.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/javascript/Signup.js}" defer></script>
</head>
<body>
<div class="wrapper">
    <div class="container">

        <div class="signup">Sign Up</div>
        <div class="login">Log In</div>

        <form action="/signup" method="post" class="needs-validation" novalidate>
            <div class="signup-form">
                <!-- Email input with validation -->
                <input type="email" id="email" name="email" placeholder="Your Email Address" class="input" required /><br />
                <!-- Name input with validation -->
                <input type="text" id="name" name="name" placeholder="Choose a Username" class="input" required /><br />
                <!-- Password input with validation -->
                <input type="password" id="password" name="password" placeholder="Choose a Password" class="input" required /><br />
                <!-- Password confirmation input with validation -->
                <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="Confirm Your Password" class="input" required /><br />
                <!-- Birth input with validation -->
                <input type="date" class="form-control" id="birth" name="birth" required /><br />
            </div>
            <button type="submit" class="btn">Create account</button>
        </form>

        <div class="login-form">
            <input type="text" placeholder="Email or Username" class="input"><br />
            <input type="password" placeholder="Password" class="input"><br />
            <div class="btn">log in</div>
            <span><a href="#">I forgot my username or password.</a></span>
        </div>

    </div>
</div>
</body>
</html>
